<!DOCTYPE HTML>

<html>
  
	<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" /> <!tells what language is supported>
		<title>Help for Students</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Merienda+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">

	</head>

	<body>

    <div class="main">

      <h1>Welcome to Student Helpline!</h1>

      <h2>The best place to look for homework help!</h2>

    </div>

    <div class="sidenav">

      <p>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="/admin">Admin</a>
        <a href="/spooky"><span style="color: #eee;">BOO</span></a>
      </p>
      
    </div>

	</body>

</html>