<!DOCTYPE HTML>
<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" /> <!tells what language is supported>
		<title>Help for Students</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Merienda+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
	</head>
	<body>
    <div class="main">
      <h2>
        What kind of question is this {{ session["username" ]}}?
        <br>
      </h2>
      <p>
      Imagine that you have zero cookies, and you split them evenly among zero friends. How many cookies does each person get? See? It doesn’t make sense.
      <br>
      Cookie Monster is sad that there are no cookies, and you are sad that you have no friends. <!dasmeanbruh>
      <br>
      </p>
      <p>
        Please don't ask questions like this... Go <a href="/ask">back</a>?
      </p>
    </div>
	</body>
</html>
