<!DOCTYPE HTML>

<html>
  
	<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" /> <!tells what language is supported>
		<title>Help for Students</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Merienda+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">

	</head>

	<body>

    <div class="main">

      <h2>
        Did you know?<br>
      </h2>

      1. Our current principal is Mr Low Teck Eng Tony.<br>
      2. The school crest of Dunman High School was designed by the late Chen Jen Hao, its second principal, and Liu Kang, a pioneer in local fine art and former art teacher of the school!<br>
      3. The lyrics of our school song were originally written as a prose by a chemistry teacher of the school in 1953!<br>
      4. Dunman High has nurtured three President's Scholars, and is one of the leading co-educational high schools in Singapore in terms of academic results. It is also one of the largest government schools in Singapore in terms of physical area.<br>

      <p>
        Enough info? Go <a href="/register">back</a>!
      </p>

    </div>
    
	</body>

</html>