<!DOCTYPE HTML>
<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" /> <!tells what language is supported>
		<title>Help for Students</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Merienda+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
	</head>
	<body>
    <div class="main">
      <h1>
        Welcome ADMIN!
      </h1>
      <h2>
        Account Editor
        <br>
      </h2>
      <h3> <! I can show, but can I unshow? Maybe use a hideable sidebar>
        Accounts: <a href="/admin">Show</a>
        <br>
        {% for username in accounts %}
          {{username}}
        <br>
        {% endfor %}
        <br>
      </h3>
      <form method="POST">
        <p>
          Change Password for User:
          <br> <! you forgot required here>
          Username:<br><input type="text" name="username" autofocus required>
          <br>
          <label for="password">Password:</label>
          <br>
          <input name="password"type="password" id="password" required>
          <br>
          <meter max="4" id="password-strength"></meter>
          <p id="password-strength-text"></p>
        </p>
          <script type="text/javascript">
            var strength = {
              0: "Weakest",
              1: "Weak",
              2: "OK",
              3: "Good",
              4: "Strong"
            }
            var password = document.getElementById('password');
            var meter = document.getElementById('password-strength');
            var text = document.getElementById('password-strength-text');
            password.addEventListener('input', function() {
              var val = password.value;
              var result = zxcvbn(val);
              meter.value = result.score;
              if (val !== "") {
                text.innerHTML = "Password Strength: " + strength[result.score]; 
              } else {
                text.innerHTML = "";
              }
              });
            </script>
          <p>
            Confirm Password:<br><input name="confirm-password" type="password" required>
            <br>
            <input type="submit" value="Change password" required>
          </p>
        <br>
        <br>
          <p>
            Delete User Account:
            <br>
            Username:
            <br>
            <input name="delete" required>
            <br>
            <input type="submit" value="Delete Account" required>
            <br>
          </p>
      </form>
      <p style="color:red;">{{error}}</p>
      <p style="color:green;">{{success}}</p>
    </div>
    <div class="sidenav">
      <p>
        <a href="/admin-questions">Questions</a>
        <a href="/admin-logout">Logout</a>
      </p>
    </div>
	</body>
</html>
</html>
