<!DOCTYPE HTML>

<html>
  
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" /> <!tells what language is supported>
		<title>Help for Students</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Merienda+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
	</head>

	<body>
    <div class="main">
      <h1>Welcome ADMIN!</h1>
      <h2>Reply to the problems in order!</h2>

      <p>
        {% for i in range (problem|length) %}
        Question {{ (i+1) }}: {{ problem[i] }}<br>
        Reply: {% if replies[i] != "no reply"%}
                {{ replies[i] }}<br>
              {%else%}
                  Unanswered?? 
              {%endif%}
        {%endfor%}

        {% for i in range (problems|length) %}
        Question {{ (i+1) }}: {{ problems[i] }}<br>
        Reply: {% if replies2[i] != "no reply"%}
                {{ replies2[i] }}<br>
              {%else%}
                  Unanswered?? 
              {%endif%}
        {%endfor%}
      </p>
        <form action="/admin-questions" method = "POST">
        <p>
          Answer in order: <input type="text" placeholder="Enter reply" name="ans"/>
          <input type="submit" value="Answer"/><br><br>
        </p>
        </form>
    </div>
    <div class="sidenav">
      <p>
        <a href="/admin">Admin</a>
        <a href="/admin-logout">Logout</a>
      </p>
    </div>

	</body>
</html>