<!DOCTYPE HTML>

<html>
  
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" /> <!tells what language is supported>
		<title>Help for Students</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Merienda+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
	</head>

	<body>
    <div class="main">
      <p>
        <form method="POST">
        <p>
          Current Password:<br><input name="current" type="password"><br>
          New Password:<br><input name="new" type="password"><br>
          Confirm New Password:<br><input name="confirm-new" type="password"><br>
          <input type="submit">
        </p>
        </form>
      </p>
      <p style="color:red;">{{error}}</p>
      <p style="color:green;">{{success}}</p>
      <p>
        <a href="/ask">Home Page</a>
      </p>
    </div>
    <div class="sidenav">
      <p>
        <a href="/settings">Back</a>
      </p>
    </div>

	</body>

</html>