<!DOCTYPE HTML>

<html>
  
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" /> <!tells what language is supported>
		<title>Help for Students</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Merienda+One&family=ZCOOL+QingKe+HuangYou&display=swap" rel="stylesheet">
	</head>

  <body>
    <div class="main">
      <h3>Please login using your username and password:</h3>
      <p>
        <form method="POST">
        <p>
          Username:<br><input type="text" name="username" autofocus><br>
          Password:<br><input type="password" name="password"><br>
          <input type="submit"><br>
        </p>
        </form>
      </p>
      <p style="color:red;">{{failed}}</p>
    </div>
    <div class="sidenav">
      <p>
        <a href="/register">Register</a>
      </p>
    </div>
  </body>

</html>